@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-BoldItalic.eot');
    src: local('Blacker Pro Display Condensed Trial Bold Italic'), local('BlackerProDisplayCondensedTrial-BoldItalic'),
        url('../fonts/BlackerProDisplayCondensedTrial-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-BoldItalic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-BoldItalic.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-Bold.eot');
    src: local('Blacker Pro Display Condensed Trial Bold'), local('BlackerProDisplayCondensedTrial-Bold'),
        url('../fonts/BlackerProDisplayCondensedTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-Bold.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-Bold.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-Italic.eot');
    src: local('Blacker Pro Display Condensed Trial Italic'), local('BlackerProDisplayCondensedTrial-Italic'),
        url('../fonts/BlackerProDisplayCondensedTrial-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-Italic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-Italic.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextCondensedTrial-Regular.eot');
    src: local('Blacker Pro Text Condensed Trial Regular'), local('BlackerProTextCondensedTrial-Regular'),
        url('../fonts/BlackerProTextCondensedTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-Regular.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-Regular.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingDiamondTrial-Light.eot');
    src: local('Blacker Pro Titling Diamond Trial Light'), local('BlackerProTitlingDiamondTrial-Light'),
        url('../fonts/BlackerProTitlingDiamondTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingDiamondTrial-Light.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingDiamondTrial-Light.woff') format('woff'),
        url('../fonts/BlackerProTitlingDiamondTrial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayTrial-ExtraboldItalic.eot');
    src: local('Blacker Pro Display Trial Extrabold Italic'), local('BlackerProDisplayTrial-ExtraboldItalic'),
        url('../fonts/BlackerProDisplayTrial-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-ExtraboldItalic.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-ExtraboldItalic.eot');
    src: local('Blacker Pro Display Condensed Trial Extrabold Italic'), local('BlackerProDisplayCondensedTrial-ExtraboldItalic'),
        url('../fonts/BlackerProDisplayCondensedTrial-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-ExtraboldItalic.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingDiamondTrial-Black.eot');
    src: local('Blacker Pro Titling Diamond Trial Black'), local('BlackerProTitlingDiamondTrial-Black'),
        url('../fonts/BlackerProTitlingDiamondTrial-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingDiamondTrial-Black.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingDiamondTrial-Black.woff') format('woff'),
        url('../fonts/BlackerProTitlingDiamondTrial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTitlingTrial-Regular.eot');
    src: local('Blacker Pro Titling Trial Regular'), local('BlackerProTitlingTrial-Regular'),
        url('../fonts/BlackerProTitlingTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingTrial-Regular.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingTrial-Regular.woff') format('woff'),
        url('../fonts/BlackerProTitlingTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTextTrial-MediumItalic.eot');
    src: local('Blacker Pro Text Trial Medium Italic'), local('BlackerProTextTrial-MediumItalic'),
        url('../fonts/BlackerProTextTrial-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-MediumItalic.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-MediumItalic.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextCondensedTrial-BookItalic.eot');
    src: local('Blacker Pro Text Condensed Trial Book Italic'), local('BlackerProTextCondensedTrial-BookItalic'),
        url('../fonts/BlackerProTextCondensedTrial-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-BookItalic.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-BookItalic.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTitlingTrial-Medium.eot');
    src: local('Blacker Pro Titling Trial Medium'), local('BlackerProTitlingTrial-Medium'),
        url('../fonts/BlackerProTitlingTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingTrial-Medium.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingTrial-Medium.woff') format('woff'),
        url('../fonts/BlackerProTitlingTrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingInlineTrial-Regular.eot');
    src: local('Blacker Pro Titling Inline Trial Regular'), local('BlackerProTitlingInlineTrial-Regular'),
        url('../fonts/BlackerProTitlingInlineTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingInlineTrial-Regular.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingInlineTrial-Regular.woff') format('woff'),
        url('../fonts/BlackerProTitlingInlineTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-LightItalic.eot');
    src: local('Blacker Pro Display Condensed Trial Light Italic'), local('BlackerProDisplayCondensedTrial-LightItalic'),
        url('../fonts/BlackerProDisplayCondensedTrial-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-LightItalic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-LightItalic.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextCondensedTrial-HeavyItalic.eot');
    src: local('Blacker Pro Text Condensed Trial Heavy Italic'), local('BlackerProTextCondensedTrial-HeavyItalic'),
        url('../fonts/BlackerProTextCondensedTrial-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-HeavyItalic.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-HeavyItalic.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProDisplayTrial-HeavyItalic.eot');
    src: local('Blacker Pro Display Trial Heavy Italic'), local('BlackerProDisplayTrial-HeavyItalic'),
        url('../fonts/BlackerProDisplayTrial-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-HeavyItalic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-HeavyItalic.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextCondensedTrial-Light.eot');
    src: local('Blacker Pro Text Condensed Trial Light'), local('BlackerProTextCondensedTrial-Light'),
        url('../fonts/BlackerProTextCondensedTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-Light.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-Light.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingDiamondTrial-Bold.eot');
    src: local('Blacker Pro Titling Diamond Trial Bold'), local('BlackerProTitlingDiamondTrial-Bold'),
        url('../fonts/BlackerProTitlingDiamondTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingDiamondTrial-Bold.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingDiamondTrial-Bold.woff') format('woff'),
        url('../fonts/BlackerProTitlingDiamondTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingTrial-Extrabold.eot');
    src: local('Blacker Pro Titling Trial Extrabold'), local('BlackerProTitlingTrial-Extrabold'),
        url('../fonts/BlackerProTitlingTrial-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingTrial-Extrabold.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingTrial-Extrabold.woff') format('woff'),
        url('../fonts/BlackerProTitlingTrial-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTextCondensedTrial-Book.eot');
    src: local('Blacker Pro Text Condensed Trial Book'), local('BlackerProTextCondensedTrial-Book'),
        url('../fonts/BlackerProTextCondensedTrial-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-Book.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-Book.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTextTrial-Regular.eot');
    src: local('Blacker Pro Text Trial Regular'), local('BlackerProTextTrial-Regular'),
        url('../fonts/BlackerProTextTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-Regular.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-Regular.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTextTrial-BoldItalic.eot');
    src: local('Blacker Pro Text Trial Bold Italic'), local('BlackerProTextTrial-BoldItalic'),
        url('../fonts/BlackerProTextTrial-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-BoldItalic.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-BoldItalic.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTitlingTrial-Black.eot');
    src: local('Blacker Pro Titling Trial Black'), local('BlackerProTitlingTrial-Black'),
        url('../fonts/BlackerProTitlingTrial-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingTrial-Black.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingTrial-Black.woff') format('woff'),
        url('../fonts/BlackerProTitlingTrial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-Extrabold.eot');
    src: local('Blacker Pro Display Condensed Trial Extrabold'), local('BlackerProDisplayCondensedTrial-Extrabold'),
        url('../fonts/BlackerProDisplayCondensedTrial-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-Extrabold.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-Extrabold.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-HeavyItalic.eot');
    src: local('Blacker Pro Display Condensed Trial Heavy Italic'), local('BlackerProDisplayCondensedTrial-HeavyItalic'),
        url('../fonts/BlackerProDisplayCondensedTrial-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-HeavyItalic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-HeavyItalic.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-Medium.eot');
    src: local('Blacker Pro Display Condensed Trial Medium'), local('BlackerProDisplayCondensedTrial-Medium'),
        url('../fonts/BlackerProDisplayCondensedTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-Medium.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-Medium.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextTrial-BookItalic.eot');
    src: local('Blacker Pro Text Trial Book Italic'), local('BlackerProTextTrial-BookItalic'),
        url('../fonts/BlackerProTextTrial-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-BookItalic.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-BookItalic.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProDisplayTrial-Light.eot');
    src: local('Blacker Pro Display Trial Light'), local('BlackerProDisplayTrial-Light'),
        url('../fonts/BlackerProDisplayTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-Light.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-Light.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingDiamondTrial-Medium.eot');
    src: local('Blacker Pro Titling Diamond Trial Medium'), local('BlackerProTitlingDiamondTrial-Medium'),
        url('../fonts/BlackerProTitlingDiamondTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingDiamondTrial-Medium.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingDiamondTrial-Medium.woff') format('woff'),
        url('../fonts/BlackerProTitlingDiamondTrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTextTrial-LightItalic.eot');
    src: local('Blacker Pro Text Trial Light Italic'), local('BlackerProTextTrial-LightItalic'),
        url('../fonts/BlackerProTextTrial-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-LightItalic.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-LightItalic.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProDisplayTrial-Heavy.eot');
    src: local('Blacker Pro Display Trial Heavy'), local('BlackerProDisplayTrial-Heavy'),
        url('../fonts/BlackerProDisplayTrial-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-Heavy.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-Heavy.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingInlineTrial-Light.eot');
    src: local('Blacker Pro Titling Inline Trial Light'), local('BlackerProTitlingInlineTrial-Light'),
        url('../fonts/BlackerProTitlingInlineTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingInlineTrial-Light.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingInlineTrial-Light.woff') format('woff'),
        url('../fonts/BlackerProTitlingInlineTrial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextCondensedTrial-Heavy.eot');
    src: local('Blacker Pro Text Condensed Trial Heavy'), local('BlackerProTextCondensedTrial-Heavy'),
        url('../fonts/BlackerProTextCondensedTrial-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-Heavy.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-Heavy.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextCondensedTrial-BoldItalic.eot');
    src: local('Blacker Pro Text Condensed Trial Bold Italic'), local('BlackerProTextCondensedTrial-BoldItalic'),
        url('../fonts/BlackerProTextCondensedTrial-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-BoldItalic.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-BoldItalic.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextCondensedTrial-Medium.eot');
    src: local('Blacker Pro Text Condensed Trial Medium'), local('BlackerProTextCondensedTrial-Medium'),
        url('../fonts/BlackerProTextCondensedTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-Medium.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-Medium.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingInlineTrial-Medium.eot');
    src: local('Blacker Pro Titling Inline Trial Medium'), local('BlackerProTitlingInlineTrial-Medium'),
        url('../fonts/BlackerProTitlingInlineTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingInlineTrial-Medium.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingInlineTrial-Medium.woff') format('woff'),
        url('../fonts/BlackerProTitlingInlineTrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProDisplayTrial-Italic.eot');
    src: local('Blacker Pro Display Trial Italic'), local('BlackerProDisplayTrial-Italic'),
        url('../fonts/BlackerProDisplayTrial-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-Italic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-Italic.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingInlineTrial-Black.eot');
    src: local('Blacker Pro Titling Inline Trial Black'), local('BlackerProTitlingInlineTrial-Black'),
        url('../fonts/BlackerProTitlingInlineTrial-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingInlineTrial-Black.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingInlineTrial-Black.woff') format('woff'),
        url('../fonts/BlackerProTitlingInlineTrial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextCondensedTrial-Bold.eot');
    src: local('Blacker Pro Text Condensed Trial Bold'), local('BlackerProTextCondensedTrial-Bold'),
        url('../fonts/BlackerProTextCondensedTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-Bold.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-Bold.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingInlineTrial-Extrabold.eot');
    src: local('Blacker Pro Titling Inline Trial Extrabold'), local('BlackerProTitlingInlineTrial-Extrabold'),
        url('../fonts/BlackerProTitlingInlineTrial-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingInlineTrial-Extrabold.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingInlineTrial-Extrabold.woff') format('woff'),
        url('../fonts/BlackerProTitlingInlineTrial-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProDisplayTrial-Bold.eot');
    src: local('Blacker Pro Display Trial Bold'), local('BlackerProDisplayTrial-Bold'),
        url('../fonts/BlackerProDisplayTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-Bold.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-Bold.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProDisplayTrial-LightItalic.eot');
    src: local('Blacker Pro Display Trial Light Italic'), local('BlackerProDisplayTrial-LightItalic'),
        url('../fonts/BlackerProDisplayTrial-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-LightItalic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-LightItalic.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTextTrial-Heavy.eot');
    src: local('Blacker Pro Text Trial Heavy'), local('BlackerProTextTrial-Heavy'),
        url('../fonts/BlackerProTextTrial-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-Heavy.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-Heavy.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTextTrial-Bold.eot');
    src: local('Blacker Pro Text Trial Bold'), local('BlackerProTextTrial-Bold'),
        url('../fonts/BlackerProTextTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-Bold.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-Bold.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingInlineTrial-Heavy.eot');
    src: local('Blacker Pro Titling Inline Trial Heavy'), local('BlackerProTitlingInlineTrial-Heavy'),
        url('../fonts/BlackerProTitlingInlineTrial-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingInlineTrial-Heavy.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingInlineTrial-Heavy.woff') format('woff'),
        url('../fonts/BlackerProTitlingInlineTrial-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProDisplayTrial-Medium.eot');
    src: local('Blacker Pro Display Trial Medium'), local('BlackerProDisplayTrial-Medium'),
        url('../fonts/BlackerProDisplayTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-Medium.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-Medium.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-Heavy.eot');
    src: local('Blacker Pro Display Condensed Trial Heavy'), local('BlackerProDisplayCondensedTrial-Heavy'),
        url('../fonts/BlackerProDisplayCondensedTrial-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-Heavy.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-Heavy.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProDisplayTrial-Regular.eot');
    src: local('Blacker Pro Display Trial Regular'), local('BlackerProDisplayTrial-Regular'),
        url('../fonts/BlackerProDisplayTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-Regular.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-Regular.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTextTrial-HeavyItalic.eot');
    src: local('Blacker Pro Text Trial Heavy Italic'), local('BlackerProTextTrial-HeavyItalic'),
        url('../fonts/BlackerProTextTrial-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-HeavyItalic.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-HeavyItalic.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTitlingTrial-Heavy.eot');
    src: local('Blacker Pro Titling Trial Heavy'), local('BlackerProTitlingTrial-Heavy'),
        url('../fonts/BlackerProTitlingTrial-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingTrial-Heavy.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingTrial-Heavy.woff') format('woff'),
        url('../fonts/BlackerProTitlingTrial-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-Regular.eot');
    src: local('Blacker Pro Display Condensed Trial Regular'), local('BlackerProDisplayCondensedTrial-Regular'),
        url('../fonts/BlackerProDisplayCondensedTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-Regular.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-Regular.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingDiamondTrial-Regular.eot');
    src: local('Blacker Pro Titling Diamond Trial Regular'), local('BlackerProTitlingDiamondTrial-Regular'),
        url('../fonts/BlackerProTitlingDiamondTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingDiamondTrial-Regular.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingDiamondTrial-Regular.woff') format('woff'),
        url('../fonts/BlackerProTitlingDiamondTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTextTrial-Medium.eot');
    src: local('Blacker Pro Text Trial Medium'), local('BlackerProTextTrial-Medium'),
        url('../fonts/BlackerProTextTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-Medium.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-Medium.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingDiamondTrial-Extrabold.eot');
    src: local('Blacker Pro Titling Diamond Trial Extrabold'), local('BlackerProTitlingDiamondTrial-Extrabold'),
        url('../fonts/BlackerProTitlingDiamondTrial-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingDiamondTrial-Extrabold.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingDiamondTrial-Extrabold.woff') format('woff'),
        url('../fonts/BlackerProTitlingDiamondTrial-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTextTrial-Italic.eot');
    src: local('Blacker Pro Text Trial Italic'), local('BlackerProTextTrial-Italic'),
        url('../fonts/BlackerProTextTrial-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-Italic.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-Italic.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayCondensedTrial-MediumItalic.eot');
    src: local('Blacker Pro Display Condensed Trial Medium Italic'), local('BlackerProDisplayCondensedTrial-MediumItalic'),
        url('../fonts/BlackerProDisplayCondensedTrial-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayCondensedTrial-MediumItalic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayCondensedTrial-MediumItalic.woff') format('woff'),
        url('../fonts/BlackerProDisplayCondensedTrial-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextCondensedTrial-LightItalic.eot');
    src: local('Blacker Pro Text Condensed Trial Light Italic'), local('BlackerProTextCondensedTrial-LightItalic'),
        url('../fonts/BlackerProTextCondensedTrial-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-LightItalic.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-LightItalic.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextTrial-Book.eot');
    src: local('Blacker Pro Text Trial Book'), local('BlackerProTextTrial-Book'),
        url('../fonts/BlackerProTextTrial-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextTrial-Book.woff2') format('woff2'),
        url('../fonts/BlackerProTextTrial-Book.woff') format('woff'),
        url('../fonts/BlackerProTextTrial-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProDisplayTrial-BoldItalic.eot');
    src: local('Blacker Pro Display Trial Bold Italic'), local('BlackerProDisplayTrial-BoldItalic'),
        url('../fonts/BlackerProDisplayTrial-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-BoldItalic.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-BoldItalic.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingDiamondTrial-Heavy.eot');
    src: local('Blacker Pro Titling Diamond Trial Heavy'), local('BlackerProTitlingDiamondTrial-Heavy'),
        url('../fonts/BlackerProTitlingDiamondTrial-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingDiamondTrial-Heavy.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingDiamondTrial-Heavy.woff') format('woff'),
        url('../fonts/BlackerProTitlingDiamondTrial-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTextCondensedTrial-Italic.eot');
    src: local('Blacker Pro Text Condensed Trial Italic'), local('BlackerProTextCondensedTrial-Italic'),
        url('../fonts/BlackerProTextCondensedTrial-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTextCondensedTrial-Italic.woff2') format('woff2'),
        url('../fonts/BlackerProTextCondensedTrial-Italic.woff') format('woff'),
        url('../fonts/BlackerProTextCondensedTrial-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {font-family: 'Blacker Pro Display';
    src: url('../fonts/BlackerProTitlingTrial-Light.eot');
    src: local('Blacker Pro Titling Trial Light'), local('BlackerProTitlingTrial-Light'),
        url('../fonts/BlackerProTitlingTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingTrial-Light.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingTrial-Light.woff') format('woff'),
        url('../fonts/BlackerProTitlingTrial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProDisplayTrial-Extrabold.eot');
    src: local('Blacker Pro Display Trial Extrabold'), local('BlackerProDisplayTrial-Extrabold'),
        url('../fonts/BlackerProDisplayTrial-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProDisplayTrial-Extrabold.woff2') format('woff2'),
        url('../fonts/BlackerProDisplayTrial-Extrabold.woff') format('woff'),
        url('../fonts/BlackerProDisplayTrial-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {font-family: 'Blacker Pro Display';

    src: url('../fonts/BlackerProTitlingInlineTrial-Bold.eot');
    src: local('Blacker Pro Titling Inline Trial Bold'), local('BlackerProTitlingInlineTrial-Bold'),
        url('../fonts/BlackerProTitlingInlineTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackerProTitlingInlineTrial-Bold.woff2') format('woff2'),
        url('../fonts/BlackerProTitlingInlineTrial-Bold.woff') format('woff'),
        url('../fonts/BlackerProTitlingInlineTrial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

